<form [formGroup]="formGroup">
  <label>Username</label>
  <input placeholder="Enter a username" formControlName="username" />

  <div
    *ngIf="
      formGroup.controls.username.errors && formGroup.controls.username.touched
    "
    class="red"
  >
    <p *ngIf="formGroup.controls.username.errors['required']">
      Username is required
    </p>
  </div>

  <label>Password</label>
  <input type="password" formControlName="password" />

  <div
    *ngIf="
      formGroup.controls.password.errors && formGroup.controls.password.touched
    "
    class="red"
  >
    <p *ngIf="formGroup.controls.password.errors['minlength']">Weak password</p>
  </div>
</form>
